name: build and deploy to Dockerhub

on:
  push:
    branches:
      - 'main'


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Set LabOne version
        run: |
          VER=$(cat labone_version.txt)
          echo "VERSION=$VER" >> $GITHUB_ENV
          echo "SHORT_VERSION=${VER:0:5}" >> $GITHUB_ENV
      -
        name: Login to container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build LabOne All-in-One Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: zhinst/labone:${{ env.VERSION }}-full, zhinst/labone:${{ env.SHORT_VERSION }}-full
          build-args:
            LABONE_VERSION=${{ env.VERSION }}
      -
        name: Build LabOne Data Server Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: zhinst/labone:${{ env.VERSION }}-dataserver, zhinst/labone:${{ env.SHORT_VERSION }}-dataserver
          target: labone_dataserver
          build-args:
            LABONE_VERSION=${{ env.VERSION }}
      -
        name: Build LabOne Web Server Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: zhinst/labone:${{ env.VERSION }}-webserver, zhinst/labone:${{ env.SHORT_VERSION }}-webserver
          target: labone_webserver
          build-args:
            LABONE_VERSION=${{ env.VERSION }}