name: build labone_full

on:
  pull_request:
    branches:
      - 'main'


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Set LabOne version
        run: |
          VER=$(cat labone_version.txt)
          echo "VERSION=$VER" >> $GITHUB_ENV
          echo "SHORT_VERSION=${VER:0:5}" >> $GITHUB_ENV
      -
        name: Build LabOne All-in-One Docker image
        uses: docker/build-push-action@v3
        with:
          push: false
          platforms: linux/amd64,linux/arm64
          tags: zhinst/labone:full-${{ env.VERSION }}, zhinst/labone:full-${{ env.SHORT_VERSION }}
          build-args:
            LABONE_VERSION=${{ env.VERSION }}